spring:
  profiles:
    active:
      - local
# properties
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized
info:
  app:
    name: user-service Application
    description: Spring Boot Actuator Demo
    version: 1.0.0
    owner: Angad Gond

# Swagger/OpenAPI Configuration
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    doc-expansion: none
    try-it-out-enabled: true
  show-actuator: false
  packages-to-scan: com.user.controller
  paths-to-match: /api/**